* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.banner {
  background-color: beige;
}

#library-body {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding: 20px;
  gap: 20px;
}

.book-container {
  background-color: aquamarine;
}
